/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html, body {
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: grid;
    background-color: rgb(220, 216, 216);
    grid-template-rows: 60px 1fr 80px;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        "header header"
        "aside section"
        "footer footer";
  gap: 10px;

}
header{
    height: 80px;
    width: 100%;
    background-color: rgb(49, 46, 46);
    grid-area: header;
   display: flex;
   flex-shrink: 0;
   
  
    

  
}
aside{
    height: 100%;
    width: 100%;
    background-color: rgba(26, 160, 48, 1);
    grid-area: aside;
   margin-top: 10px;
}
section{
    height: 100%;
    width: 100%;
    background-color: rgba(145, 26, 182, 1);
    grid-area: section;
    margin-top: 10px;
}
footer{
    height: 80px;
    width: 100%;
    background-color: rgba(117, 212, 27, 1);
  grid-area: footer;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html, body {
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
  display: grid;
   background-color: black;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 70px 1fr 0.5fr 0.5fr;
   grid-template-areas:
       "header header header"
       "section section section"
       "div1 bottomup div2"
       "div1 bottomdown div2";

   
    gap: 5px; 
   

}
header{
       grid-area: header  ;
    background-color: rgb(66, 39, 185);

  
   
  
}
section{
    
    grid-area: section  ;
    background-color: rgb(185, 39, 66);
   
}
#div1{
    
   grid-area: div1 ;
    background-color: rgb(73, 28, 197);  
}
#div2{
    grid-area: div2 ;
   background-color: rgb(28, 141, 197);
   
}
#bottomup{
       grid-area: bottomup  ;
    background-color: rgb(182, 151, 15);
 
   
}   
#bottomdown{
    grid-area: bottomdown  ;
   background-color: rgb(15, 182, 15);
}   
