* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
html{
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(247, 244, 244);
    font-size: clamp(14px, 1vw, 18px);
}
body{
    
    background-color: rgb(17, 16, 16);
}
@mixin flex-column ($gap:0){
    display: flex;
    flex-direction: column;
    gap:$gap
}
section{
   
    max-width: 1800px;
}
main{
width: 100%;
    height: 100%;
@include flex-column(0rem);
align-items: center;

section.view1{    
    width: 100%;
   @include flex-column(2rem);
    padding: 1rem;


.top{
    width: 100%;
 img{
    width: 100%;
    border-radius: 0.7rem;
 }
}

 .bottom{
@include flex-column(3rem);
    padding: 1rem;
background-color:rgb(36, 33, 33);
border-radius: 10px;

.text{
  @include flex-column(0.5rem);

h1{
    font-size: 2rem;
    font-weight: 10; 
    text-transform: uppercase;
}
      p{
        font-weight: 100;
        font-size: 1rem;
        opacity: 0.6;
        line-height: 1.5rem;
    }

    button{
       width: fit-content;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            border: none;
            font-size: 1rem;
            font-weight: 600;
            cursor: pointer;
       outline: none;
         padding: 0.7rem 1.5rem;
         border-radius: 0.5rem;
    }


}
}
}
section.view2{    
    width: 100%;
   @include flex-column(2rem);
    padding: 1rem;
.top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    justify-content: space-around;

}
.bottom{
    @include flex-column(0rem);
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content:space-around;
}

}
@media (min-width:900px) {
    main{
        section{
            flex-direction: row;    
            gap:2rem;

            .top, .bottom{
                width: 50%;
                padding: 2rem;
            }
            .bottom{
                justify-content: space-between;
                padding: 3rem;
                .text{
                    h1{
                        font-size: 3.5rem;
                    }
                    p{
                        font-size: 1rem;
                       width: 60%;
                    }
                }
            }
        }
    }
}}