<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
   <div id="container">
    <div id="card">
        <img src="alok_singh_photo_26JNHM2.jpg" alt="profile image">
      <h3>UIT RGPV-Bhopal</h3>
        <h3>Branch-CSE</h3>
        <h3>Web Developer with Gen A.I</h3>
        <h3>Location: Bhopal, India</h3>
        <h3>Experience: fresher</h3>
        <a href="https://www.linkedin.com/in/pratham-singh-123456789/">LinkedIn Profile</a>
        <button>follow</button>
    </div>
   </div>
</body>
</html>